
/* Archivo de estilos para el ejercicio Formulario 2. */

			
			body{
				background-color:rgb(205, 204, 203);
				text-align: center;
			}
			#contenedor{
				display:flex;
				justify-content:space-around;
				flex-wrap:wrap;
				align-items:center;
				margin:10px;
				gap:20px;
			}
			.ejercicios{
				border:1px solid #000;
				border-radius:5px;
				box-shadow:5px 5px 2px #333;
				background-color:#ccc;
				padding:10px;
			}
			
			h1, p {
				font-family:Verdana, sans-serif;
				color:navy
			}
			
			h2 {
				text-align:center;
			}
			
			h3,span{
				color:green;
				font-weight:bold;
			}
			table, td, th {
				border: 1px solid navy;
			}
						
			caption{
				font-weight:bold;
				color: navy;
				font-size:22px;
			}
			th{
				background-color: #999;
			}	
			td{
				width:150px;
				text-align:center;
			}					